*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build
*.pyproj
.pydevproject
.idea

*cachedir/
dist/

doc/_build/
doc/generated
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
pip-log.txt
mne_features.egg-info/
.tags
tags
.coverage
