language: python

env:
  - USE_NUMBA=ON PYTHON_VERSION=3.6
  - USE_NUMBA=OFF PYTHON_VERSION=3.6

before_install:
  - wget -q http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes --quiet conda
install:
    - conda create -n testenv --yes pip python=${PYTHON_VERSION}
    - source activate testenv
    - conda install --yes --quiet numpy matplotlib scipy scikit-learn pandas
    - |
      if [[ "${USE_NUMBA}" == "ON" ]]; then
        conda install --yes --quiet numba
      fi
    - conda install --yes --quiet nose coverage
    - pip install flake8 check-manifest
    - pip install mne PyWavelets coverage coveralls tqdm
    - pip install "git+https://github.com/choldgraf/download"
    - python setup.py develop --no-deps
script:
    - make
    - flake8 --count mne_features --ignore=E121,E123,E126,E226,E24,E704,W503,W504
after_success:
  - |
    if [[ "${USE_NUMBA}" == "OFF" ]]; then
      bash <(curl -s https://codecov.io/bash)
    fi
