language: python

env:
  - USE_NUMBA=ON
  - USE_NUMBA=OFF

before_install:
  - wget -q http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b -p /home/travis/miniconda
  - export PATH=/home/travis/miniconda/bin:$PATH
  - conda update --yes --quiet conda
install:
    - conda create -n testenv --yes pip python=2.7
    - source activate testenv
    - conda install --yes --quiet numpy=1.11 matplotlib=1.5 scipy=0.19 scikit-learn
    - |
      if [[ "${USE_NUMBA}" == "ON" ]]; then
        conda install --yes --quiet numba
      fi
    - conda install --yes --quiet nose coverage
    - pip install flake8 check-manifest
    - pip install mne coverage coveralls
    - python setup.py develop --no-deps
script:
    - make
    - flake8 --count mne_features
after_success:
  - |
    if [[ "${USE_NUMBA}" == "OFF" ]]; then
      bash <(curl -s https://codecov.io/bash)
    fi
