name: Testing MNE-Features on Ubuntu 20.04
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.13" ]
        numba: [ "on", "off" ]
    defaults:
      run:
        shell: bash -el {0}
    continue-on-error: true
    name: python-${{ matrix.python-version }}-numba-${{ matrix.numba }}
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: 'mne-features'
        python-version: ${{ matrix.python-version }}
        environment-file: 'environment.yml'
      name: Install Miniconda and create environment
    - if: ${{ matrix.numba == 'off' }}
      run: pip uninstall --yes --quiet numba
      name: Uninstall numba
    - run: pip install --upgrade pytest pytest-cov flake8 check-manifest pytest-sugar
      name: Install test utilities
    - run: pip install --no-deps -ve .
    - run: flake8 --count mne_features
    - run: pytest --cov=mne_features --cov-report=xml --verbose mne_features/tests
    - run: check-manifest --ignore doc,mne_features/*/tests
    - uses: codecov/codecov-action@v5
      with:
        token: '1873840c-bd0f-4085-b7da-8b57b680d848'
      if: success() || failure()
